.bank-add-card {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.bank-remove-card {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.deposit-withdraw-card {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}