.analog-clock {
  text-decoration: none;
  pointer-events: none;
}

.analog-clock:hover {
  cursor: default;
}

.fabrication-main-container {
  background-color: #f2f2f2;
  background-size: cover;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader-image {
  height: 6rem;
  width: 6rem;
}

.login-page {
  background: url("../assets/images/background.jpg");
  background-size: cover;
  display: inline-block;
  padding: 5%;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.login-page-text {
  color: white;
  margin: 1.6rem;
  line-height: 1;
}

.btn-login {
  font-weight: 300;
  color: white;
  font-size: 1.8rem;
  border: none;
  background: #1c88bf;
  padding: 1.2rem;
}
