.analog-clock {
  text-decoration: none;
  pointer-events: none;
}

.analog-clock:hover {
  cursor: default;
}

.fabrication-main-container {
  background-color: #f2f2f2;
  background-size: cover;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}
